<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="homeNav">
      <span class="sr-only">You at Homescreen. Use Arrow Up and Arrow Down button to navigate the menu,</span>
      <span aria-hidden="true">Accessibility Suite</span>
    </li>
    <li class="homeNav" @click="goToScreen('battery')">
      <span class="sr-only">Get Battery Info,</span>
      <span aria-hidden="true">Get Battery Info</span>
    </li>
    <li class="homeNav" @click="goToScreen('dateTime')">
      <span class="sr-only">Get Date and Time Info,</span>
      <span aria-hidden="true">Get Date and Time Info</span>
    </li>
    <li class="homeNav" @click="exitApp()">
      <span class="sr-only">Press Enter to exit the app,</span>
      <span aria-hidden="true">Exit App</span>
    </li>
  </ul>
</div>
